<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
</head>
<body>
        <div class="container">
            <div class="row clearfix">
		        <div class="col-md-12 column">
			        <div class="page-header" style="margin-top: 0px">
				        <h1>
                            <a href="{{ url_for('show_entries') }}"> Flaskr</a>
                            <small>一个小小的博客</small>
                            <span style="float: right">
                            {% if session.uid %}
                                <a href="{{ url_for('add') }}"><small>发布内容</small></a>
                                <a href="{{ url_for('logout') }}"><small>注销</small></a>
                            {% else %}
                                <a href="{{ url_for('login') }}"><small>登陆</small></a>
                            {% endif %}
                        </span>
                        </h1>
			        </div>
		        </div>
            </div>
        {% block content %}
        {% endblock %}
        <div class="row footer">
            <div class="col-md-4 col-md-offset-4" style="text-align: center">
                Copyright ©2018 Double L
            </div>
        </div>
        </div>
</body>
</html>